/*------------------GLOBAL------------------*/

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Lato-regular", sans-serif;
  background-color: #e9e8e8d9;
  height: 100%;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h4 {
  font-size: 24px;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.error {
  border: 1px #ff4019 solid !important;
}

/*--------------------------------------------*/
